.hero_content {
  padding-top: 70px;
}
.hero_titles {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 55px;
}
.hero_titles span {
  color: #df2020;
}
.hero_content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}
.hero_btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.order_btn {
  background: #df2020;
  color: #fff;
}
.order_btn:hover {
  background: #212245;
  transition: 0.3s;
}
.all_foods_btn {
  background: transparent;
  border: 1px solid #df2020 !important;
}
.all_foods_btn a {
  text-decoration: none;
  color: #df2020;
}
.hero_service p {
  color: #212245;
  font-weight: 600;
  font-size: 0.9rem;
}
.shipping_icon i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
}
